
html {
  background: url("backimg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
  font-size: 40px;
}

p.intro {
  line-height: 30px;
}

.me {
     border-radius: 200px;
     background-color: #DDD;
     border: 5px solid #cfd8dc;
}

img {
	height: 200px;
	width: 200px;
}


.social-icons{
  padding-top: 10px;
	font-size: 40px;
}

.social-icons a{
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border: 1px solid #8c1532;
  opacity: 0.2;
}

a:hover {
  color: rgb(140, 21, 50);
  text-decoration: underline;
}
